<!doctype html>
<html>
  <head>
    <title>Example application</title>
  </head>
  <body>
    <a href="{{ url_for('posts_get') }}">Посты</a>
<!-- BEGIN (write your solution here) -->
<form action="{{ url_for('patch_post', id=post.id) }}" method="post">
  
  {% include "posts/form.html" %}
  
  <!-- Верхний include аналогичен нижнему блоку -->
  <!-- <div>
    <label>
        Название *
        <input type="text" name="title" value="{{ post.title|default('') }}">
    </label>
    {% if 'title' in errors %}
          <div>{{ errors['title'] }}</div>
    {% endif %}
  </div>
  <div>
    <label>
        Содержание *
        <textarea type="text" rows="20" cols="80" name="body">{{ post.body|default('') }}</textarea>
    </label>
    {% if 'body' in errors %}
          <div>{{ errors['body'] }}</div>
    {% endif %}
  </div> -->
   <input type="submit" value="Update">
</form>
<!-- END -->
  </body>
</html>